<div style="font-family: Arial, sans-serif; max-width: 600px; margin: auto; border: 1px solid #ddd; padding: 20px;">
    <!-- Logo Section -->
   <div style="text-align: center; margin-bottom: 20px;">
        <img src="https://greetlych.fra1.cdn.digitaloceanspaces.com/logo.png" alt="Greetly.ch Logo" style="height: 50px;" />
    </div>

    <!-- Email Header -->
    <h2 style="color: #333; text-align: center;">Welcome to Greetly!</h2>

    <!-- Greeting -->
    <p style="font-size: 16px; color: #555;">Hello {{ email }},</p>

    <!-- Message Content -->
    <p style="font-size: 16px; color: #555; text-align: center;">
        We're excited to inform you that your Greetly account is now active! You can now log in to your account to find all the information you need to solve your problems.
    </p>

    <!-- Footer Section -->
    <p style="font-size: 14px; color: #999; text-align: center; margin-top: 30px;">
        Welcome aboard!<br />
        Best regards,<br />
        The Greetly.ch team
    </p>
    <p style="font-size: 14px; color: #999; text-align: center;">&copy; {{ year }} Greetly.ch. All rights reserved.</p>
</div>
